<html>
<head>
    <title>Power User:SPO</title>
</head>
<body>
    <table>
    <tr>
        <th>Name</th>
        <th> ID </th>
        <th>Roll Number</th>
        <th>Response</th>
    </tr>
   
<form action="/{{username}}/panel/activate_temp_student" method="post">
    {% for item in users %}
    <tr>  
        <td>{{ item.student_name }}</td>
        <td>{{item.user_id}}</th>
        <td>{{ item.student_roll }}</td>
    
     <td><button type="submit" name="choice" id="choice{{item.id}}" value="{{item.id}}" >Accept</button></td>
     </tr>
    {% endfor %}
</table>
<p>{{error}}</p>
        
    
</form>
</body>
</html>